{% extends 'base.html.twig' %}

{% block body %}
    <h1>T_universite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ t_Universite.id }}</td>
            </tr>
            <tr>
                <th>Nometablissement</th>
                <td>{{ t_Universite.nometablissement }}</td>
            </tr>
            <tr>
                <th>Siteinternet</th>
                <td>{{ t_Universite.siteinternet }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ t_Universite.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('t_universite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('t_universite_edit', { 'id': t_Universite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
