{% extends "DUDEEGOPlatformBundle::layout.html.twig" %}

{% block title %}
	Aide - {{ parent() }}
{% endblock %}

{% block dudeegoplatform_bodyAbonne %}
	<div id="content" class="col-md-12">

		{% for flash_message in app.session.flashBag.get('notice') %}
			<div class="flash-notice">
				{{ flash_message }}
			</div>
		{% endfor %}

		{% if images is defined %}
		{#		
	{% for image in images %}
				<img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.imageName }}" />
			{% endfor %}#}
				<img src="{{ vich_uploader_asset(images, 'imageFile') }}" alt="{{ images.imageName }}" />
		{% endif %}
		
		{{form_start(form)}}
		{{form_rest(form)}}
		{{form_end(form)}}

	</div>	
	<div id="content" class="col-md-12">
	</div>
{% endblock %}