{% extends "DUDEEGOPlatformBundle::layout.html.twig" %}

{% block title %}
  Mes Documents - {{ parent() }}
{% endblock %}

{% block dudeegoplatform_bodyAbonne %} 
    <!-- Mes Documents -->
    {% for flash_message in app.session.flashBag.get('notice') %}
      <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}
{{dump(form)}}
{% if form.documents is defined %}
    {% for document in form.documents %}
        {{dump(document)}}
        {#<img src="{{ vich_uploader_asset(document, 'pdfFile') }}" alt="{{ document.pdfName }}" />#}
    {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-5">
        {{form_start(form)}}
        {{ form_widget(form.documents) }}
        {{ form_widget(form.documents) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>

{% endblock %}