{% extends "DUDEEGOPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes Parametres - {{ parent() }}
{% endblock %}

{% block dudeegoplatform_bodyAbonne %} 
    <!-- Mes Parametres -->
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col-md-5">
        <div class="form-group">
            {{ form_label(form.email, 'Email actuel') }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}

            <div>
                <button type="submit" class="btn btn-primary">Changer d'email</button>
            </div>            
        </div>      
        {{ form_end(form,{'render_rest': false}) }}
    </div>

    <div class="col-md-5">
        <div class="form-group">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary">Changer mot de passe</button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}