{% extends ":backend:sidebar.html.twig" %}

{% block title %}
  Mes Parametres - {{ parent() }}
{% endblock %}

{% block BackContent %} 
  <!-- Mes Parametres -->
  {{ form_start(form) }}
  
  {% if not form.vars.valid %}
    <div class="alert alert-error">
      {{ form_errors(form) }}
    </div>
  {% endif %}

  <div class="col-md-5">
    <div class="form-group">
      <div>
        <button type="submit" class="btn btn-primary">Changer d'email</button>
      </div>            
    </div>      
    {{ form_end(form) }}
  </div>

  <div class="col-md-5">
    <div class="form-group">
      {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
      {{ form_widget(form) }}
      <div>
        <button type="submit" class="btn btn-primary">Changer mot de passe</button>
      </div>
      {{ form_end(form) }}

    </div>
  </div>
{% endblock %}