{# app/Resources/views/layoutdudeego.html.twig #}

<!DOCTYPE html>
<head>
 {# Contenu de la balise head #}
 {% include ':default:head.html.twig' %}
</head>
<body>

  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# Contenu de l'en-tete ABONNE #}
    {% block enteteAbonne %} 
      <div class="jumbotron">
        <div class="container text-center">
          <h1>DUDEE'GO</h1>      
          <p>Comparateur d'écoles et d'universités</p>
        </div>
      </div>
    {% endblock %}

    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="nav-side-menu">
            <div class="icon-bar">
              <a title="Mon compte" data-toggle="tooltip" data-placement="left" href="{{ path('dudeego_platform_abonne_monProfil') }}"><i class="fa fa-user-o"></i></a> 
              <a title="Inscription à l'Université" data-toggle="tooltip" data-placement="left" href="{{ path('dudeego_platform_abonne_universite') }}"><i class="fa fa-university"></i></a> 
              <a title="Inscription à un cours de langue" data-toggle="tooltip" data-placement="left" href="{{ path('dudeego_platform_abonne_langue') }}"><i class="fa fa-language"></i></a> 
              <a title="Inscription à un logement" data-toggle="tooltip" data-placement="left" href="{{ path('dudeego_platform_abonne_logement') }}"><i class="fa fa-bed"></i></a>
              <a title="Inscription à un cours de préparation" data-toggle="tooltip" data-placement="left" href="{{ path('dudeego_platform_abonne_preparation') }}"><i class="fa fa-lightbulb-o"></i></a> 
              <a title="Inscription à la mutuelle" data-toggle="tooltip" data-placement="left" href="{{ path('dudeego_platform_abonne_mutuelle') }}"><i class="fa fa-user-md"></i></a>
              <a title="Deconnexion" data-toggle="tooltip" data-placement="left" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i></a> 
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12 sidebar">
              <ul class="nav nav-pills" id="onglets">
                <li class="mypills"><a href="{{ path('dudeego_platform_abonne_monProfil') }}"><i class="fa fa-address-card-o"></i> Mon profil</a></li>
                <li class="mypills"><a href="{{ path('dudeego_platform_abonne_mesParametres') }}"><i class="fa fa-wrench"></i> Mes parametres</a></li>
                <li class="mypills"><a href="{{ path('dudeego_platform_abonne_mesDemandes') }}"><i class="fa fa-list-ol"></i> Mes demandes</a></li>
                <li class="mypills"><a href="{{ path('dudeego_platform_abonne_mesDocuments') }}"><i class="fa fa-file-pdf-o"></i> Mes documents</a></li>
                <li class="mypills"><a href="{{ path('dudeego_platform_abonne_aide') }}"><i class="fa fa-question-circle"></i> Aide</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-10">  
            {% block bodyabonne %} 
              {% block contentabonne %} 
                {# Contenu du corps de page #}
              {% endblock %}
            {% endblock %}
          </div>
        </div>
        <div>
          {# Contenu du pied de page #}
          <div class="col-md-12">
            {% block footerabonne %} 
              {% include ':default:footer.html.twig' %} 
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

  {% else %}

    {# Contenu de la balise nav #}
    {% include ':default:navigation.html.twig' %}   
    {# Contenu du corps de page #}    
    {% block body %} 
        {% block content %}           
        {% endblock %}
    {% endblock %}
    {# Contenu du pied de page #}
    {% block footer %} 
      {% include ':default:footer.html.twig' %} 
    {% endblock %}
  {% endif %}
</div>
</body>  
</html>
