<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('dudeego_platform_home') }}">Dudee'Go</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       <li><a href="{{ path('dudeego_platform_accueil') }}">Accueil</a></li>
       <li><a href="{{ path('dudeego_platform_showComparateur') }}">Comparateur</a></li>       
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
        <ul class="dropdown-menu">
         <li><a href="{{ path('dudeego_platform_voirJob') }}">Trouver un job</a></li>
         <li><a href="{{ path('dudeego_platform_voirStage') }}">Trouver un stage</a></li>
         <li><a href="{{ path('dudeego_platform_voirLogement') }}">Trouver un logement</a></li>
         <li><a href="{{ path('dudeego_platform_voirLangue') }}">Trouver un cours de langue</a></li>
       </ul>
     </li>
     <li><a href="{{ path('dudeego_platform_voirBlog') }}">Blog</a></li>
     
     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <p class="navbar-text">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |</p>
      <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
      <li><a href="{{ path('dudeego_platform_voirTest') }}">Admin Panel</a></li>
    {% else %}
      <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
    {% endif %}  
    <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
  </ul>
</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>