<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{ path('dudeego_platform_home') }}">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{{ path('dudeego_platform_home') }}">Accueil</a></li>
        <li><a href="{{ path('dudeego_platform_showComparateur') }}">Comparateur d'université</a></li>
        <li><a href="{{ path('dudeego_platform_voirJob') }}">Trouver un job</a></li>
        <li><a href="{{ path('dudeego_platform_voirStage') }}">Trouver un stage</a></li>
        <li><a href="{{ path('dudeego_platform_voirLogement') }}">Trouver un logement</a></li>
        <li><a href="{{ path('dudeego_platform_voirLangue') }}">Trouver un cours de langue</a></li>
        <li><a href="{{ path('dudeego_platform_voirBlog') }}">Blog</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <p class="navbar-text">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |</p>
          <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
        {% else %}
          <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
        {% endif %}      
      </ul>
    </div>
  </div>
</nav>