
{% extends "DUDEEGOPlatformBundle::layout.html.twig" %}

{% block title %}
	Details - {{ parent() }}
{% endblock %}

{% block FrontContent %}
	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Détails 
				<small>{% if listUniversite is defined %} {{ listUniversite.nometablissement }} {% endif %}</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="{{ path('dudeego_platform_home') }}">Accueil</a></li>
				<li><a href="{{ path('dudeego_platform_showComparateur') }}">Comparateur</a></li>
				<li class="active">Détails</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<!-- Content Row -->
	<div class="row">
		<!-- Sidebar Column -->
		<div class="col-md-3">
			<div class="list-group">
				<a href="#section1" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Informations</a>
				<a href="#section2" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Formations</a>
				<a href="#section3" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Langues</a>
				<a href="#sectionInscription" class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i> Inscription</a>
			</div>
		</div>
		<!-- Content Column -->

		<div class="col-md-6">
			<div class="row">
				{% if listUniversite is defined %}
					<div id="#section1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Informations</h4>
							</div>
							<div class="panel-body">										
								{{ listUniversite.description }}
							</div>
						</div>
					</div>
					<div id="#section2">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Formations</h4>
							</div>
							<div class="panel-body">
								{% for itemformation in listUniversite.formations %}
									{{ itemformation.formation }} 
								{% endfor %}
							</div>
						</div>
					</div>
					<div id="#section3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Langues</h4>
							</div>
							<div class="panel-body">
								{% for itemformation in listUniversite.formations %}
									{% for itemlangue in itemformation.langues %}
										{{ itemlangue.langue }} 
									{% endfor %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div id="#sectionInscription">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>Inscription</h4>
							</div>
							<div class="panel-body">
								<p>
									Si vous souhaitez vous inscrire à une universite, vous devez avoir un compte utilisateur sur notre plateforme. Pour la création d'un compte, suivez le guide <a href="{{ path('fos_user_registration_register') }}">ici</a>.
								</p>
							</div>
						</div>
					</div>
				</div>
			{% endif %}


		</div>
		<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
		</div>	
	</div>

{% endblock %}	