{% if listUniversite is defined %}
  {% for rowUniversite in listUniversite %}
    <tr>
      <td>
        {{ rowUniversite.classement }}
      </td>
      <td>
       <div id="nom-etablissement-{{ rowUniversite.id }}">
        {{ rowUniversite.nometablissement }}
      </div>  
    </td>
    <td>{{ rowUniversite.adresse.ville.commune }}</td>
    <td>{{ rowUniversite.adresse.ville.pays.pays }}</td>
    {% if rowUniversite.bourse %}
      <td>Oui</td>
    {% else %}
     <td>Non</td>
   {% endif %}
   <td>{{ rowUniversite.montantbourse }}</td>
   <td>
    <a href="{{ path('dudeego_platform_detailsComparateur', { 'id' : rowUniversite.id } ) }}" ><span class="glyphicon glyphicon-cog"></span>Détails</a>
    <a  class="add_comparateur" href="#" data-id="{{ rowUniversite.id }}"> <span class="glyphicon glyphicon-plus"></span>Favoris</a>
  </td>
</tr>
{% endfor %}
{% endif %}