{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}  

    {% block BackBody %}   
        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Espace Abonné
                        <small></small>
                    </h1>
                    <ol class="breadcrumb">
                        <liclass="active"><a href="#">Home</a>
                    </li>
                    <li></li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{{ path('dudeego_platform_abonne_monProfil') }}" class="list-group-item">Mon Profil</a>
                    <a href="{{ path('dudeego_platform_abonne_mesParametres') }}" class="list-group-item">Mes Paramètres</a>
                    <a href="{{ path('dudeego_platform_abonne_mesDocuments') }}" class="list-group-item">Mes Documents</a>
                    <a href="{{ path('dudeego_platform_abonne_mesDemandes') }}" class="list-group-item">Mes Demandes</a>
                </div>
                <div class="list-group">
                    <a href="{{ path('dudeego_platform_abonne_universiteStepsOne') }}" class="list-group-item">Inscription Universitaire</a>
                    <a href="{{ path('dudeego_platform_abonne_langueStepsOne') }}" class="list-group-item">Inscription cours de langue</a>
                    <a href="{{ path('dudeego_platform_abonne_logementStepsOne') }}" class="list-group-item">Inscription logement</a>
                    <a href="{{ path('dudeego_platform_abonne_preparation') }}" class="list-group-item">Inscription cours préparation</a>
                    <a href="{{ path('dudeego_platform_abonne_mutuelle') }}" class="list-group-item">Inscription mutuelle</a>
                </div>
                <div class="list-group">
                    <a href="{{ path('dudeego_platform_abonne_aide') }}" class="list-group-item">FAQ</a>
                    <a href="{{ path('dudeego_platform_abonne_contact') }}" class="list-group-item">Contact</a>
                </div>
                <div class="list-group">
                    <a href="{{ path('fos_user_security_logout') }}" class="list-group-item">Déconnexion</a>
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
                {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
                {% block BackContent %} 

                {% endblock %}
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}
{% endif %}

{#{% block BackPills %} 
{% include ':backend:pills.html.twig' %}
{% endblock %}#}