{% extends "DUDEEGOPlatformBundle::layout.html.twig" %}

{% block title %}
  Comparateur - {{ parent() }}
{% endblock %}

{% block dudeegoplatform_body %}

  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <div class="well">

        {#Formulaire de recherche#}
        {{ form_start(form, {'action': path('dudeego_platform_filterComparateur'), 'method': 'GET'}) }}
        {# Les erreurs générales du formulaire. #}
        {% if form_errors(form) %}
          <div class="alert alert-danger" role="alert">
            {{ form_errors(form) }}
          </div>
        {% endif %}

        <div class="form-group">
          {{ form_label(form.nomuniversite, 'Rechercher') }}
          {{ form_widget(form.nomuniversite) }}

          {{ form_label(form.formations) }}
          {{ form_widget(form.formations) }}

          {{ form_label(form.langues) }}
          {{ form_widget(form.langues) }}

          {{ form_label(form.villes) }}
          {{ form_widget(form.villes) }}

          {{ form_label(form.pays) }}
          {{ form_widget(form.pays) }}

          {#{{ form_rest(form) }}#}
          
          <br>

          {{ form_widget(form.reinitialiser) }} 
          {{ form_widget(form.rechercher) }}
        </div>

        {{ form_end(form) }}

      </div>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <table id="universite" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%" data-order='[[ 1, "asc" ]]' data-page-length='10'>
        <thead>
          <tr>
            <th>Etablissement</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% if listUniversite is defined %}
            {% for rowUniversite in listUniversite %}
              <tr>
                <td>
                  <div style="float:left;">
                    {% for itemimage in rowUniversite.images %}
                      <img class="media-object img-rounded img-responsive"  src="{{ itemimage.url }}" alt="{{ itemimage.alt }}">
                    {% endfor %}
                  </div>
                  <div style="float:right;">
                    {{ rowUniversite.nometablissement }}
                  </div>  
                </td>
                <td>
                  {{ rowUniversite.description|slice(0, 50) ~ '...' }}
                </td>
                <td>
                  <div style="float:left;">

                    <a href="{{ path('dudeego_platform_detailsComparateur', { 'id' : rowUniversite.id } ) }}" ><span class="glyphicon glyphicon-cog"></span>Détails</a>
                  </div>
                  <div style="float:right;">
                    <!-- trigger favorite -->

                    <a href="{{ path('dudeego_platform_PanierComparateur', {'id': rowUniversite.id} ) }}"> <span class="glyphicon glyphicon-plus"></span>Add</a>
                  </div>                
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <div class="well">

        {% for flash_message in app.session.flashBag.get('notice') %}
          <div class="flash-notice">
            {{ flash_message }}
          </div>
        {% endfor %}

        {% if listFavUniversite is defined %}
          <table id="favoris" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Etablissement</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for key, item in listFavUniversite %}
                {% for subItem in item %}
                  <tr>
                    <td>
                      {{subItem.nometablissement}}
                    </td>
                    <td>
                      <!-- trigger favorite -->                      
                      <a href="{{ path('dudeego_platform_PanierComparateur', {'id': subItem.id } ) }}"><span class="glyphicon glyphicon-remove"></span>Remove</a>
                    </td>
                  </tr>
                {% endfor %}     
              {% endfor %}
            </tbody>
          </table>
          <a href="{{ path('dudeego_platform_comparerComparateur') }}">Comparer</a>
        {% else %}
         <table id="favoris" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Etablissement</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
              </td>
              <td>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary" disabled="disabled">Comparer</button>
      {% endif %}
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#universite').DataTable( {
    paging: true,
    responsive: true,
    searching: false
  } );
</script>

<script type="text/javascript">
  $('#favoris').DataTable( {
    paging: false,
    responsive: true,
    searching: false
  } );
</script>

{% endblock %}
