
{% extends "DUDEEGOPlatformBundle::layout.html.twig" %}

{% block title %}
	Details - {{ parent() }}
{% endblock %}

{% block dudeegoplatform_body %}
	<div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
			<a href="{{ path('dudeego_platform_showComparateur') }}">
				<i class="glyphicon glyphicon-th-list"></i>
				Retour à la liste des universités
			</a>
		</div>	
	</div>

	<div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
			<div class="list-group table-of-contents">
				<a class="list-group-item" href="#section1"><i class="glyphicon glyphicon-chevron-right"></i>Aperçu</a>
				<a class="list-group-item" href="#section2"><i class="glyphicon glyphicon-chevron-right"></i>Formations</a>
				<a class="list-group-item" href="#section3"><i class="glyphicon glyphicon-chevron-right"></i>Langues</a>
			</div>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
			<div class="row">
				{% if listUniversite is defined %}
					<div id="#section1">
						<div class="panel panel-info">
							<div class="panel-heading">
								Aperçu
							</div>
							<div class="panel-body">										
								{{ listUniversite.nometablissement }} 
								<br>
								{{ listUniversite.description }}
							</div>
						</div>
					</div>
					<div id="#section2">
						<div class="panel panel-info">
							<div class="panel-heading">
								Formations
							</div>
							<div class="panel-body">
								{% for itemformation in listUniversite.formations %}
									{{ itemformation.formation }} 
								{% endfor %}
							</div>
						</div>
					</div>
					<div id="#section3">
						<div class="panel panel-info">
							<div class="panel-heading">
								Langues
							</div>
							<div class="panel-body">
								{% for itemformation in listUniversite.formations %}
									{% for itemlangue in itemformation.langues %}
										{{ itemlangue.langue }} 
									{% endfor %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}

			<!-- Button trigger modal -->
			<div style="float:right;">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Inscription</button>
			</div>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
		</div>	
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Inscription à une université</h4>
				</div>
				<div class="modal-body" >
					<p>
						Si vous souhaitez vous inscrire à une universite, vous devez avoir un compte utilisateur sur notre plateforme. Pour la création d'un compte, suivez le guide <a href="{{ path('fos_user_registration_register') }}">ici</a>.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}	