   {% extends "DUDEEGOPlatformBundle::layout.html.twig" %}

   {% block title %}
    Comparateur - {{ parent() }}
  {% endblock %}

  {% block dudeegoplatform_body %}
    <form action="{{ path('dudeego_platform_filterComparateur') }}" method="POST">

      {# Les erreurs générales du formulaire. #}
      {% if form_errors(form) %}
        <div class="alert alert-danger" role="alert">
          {{ form_errors(form) }}
        </div>
      {% endif %}

      <div class="form-group">
        {{ form_label(form.nomuniversite, 'Rechercher') }}
        {{ form_widget(form.nomuniversite) }}

        {{ form_label(form.formations) }}
        {{ form_widget(form.formations) }}

        {{ form_label(form.langues) }}
        {{ form_widget(form.langues) }}

        {{ form_label(form.villes) }}
        {{ form_widget(form.villes) }}

        {{ form_label(form.pays) }}
        {{ form_widget(form.pays) }}
      </div>
      <div>           
       {{ form_widget(form.reinitialiser, {'attr': {'class': 'btn btn-danger'}}) }}
       {{ form_widget(form.rechercher, {'attr': {'class': 'btn btn-primary'}}) }}
     </div>

     {{ form_rest(form) }}
   </form>
 {% endblock %}