{# src/DUDEEGO/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "DUDEEGOPlatformBundle::layout.html.twig" %}

{% block title %}
	Accueil - {{ parent() }}
{% endblock %}

{% block dudeegoplatform_body %}

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">DUDEE'GO</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><a href="{{ path('fos_user_security_login') }}">INSCRIPTION UNIVERSITAIRE</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">DUDEE'GO</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><a href="{{ path('fos_user_security_login') }}">INSCRIPTION COURS DE LANGUE</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">DUDEE'GO</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><a href="{{ path('fos_user_security_login') }}">INSCRIPTION LOGEMENT ETUDIANT</a></div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">DUDEE'GO</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><a href="{{ path('fos_user_security_login') }}">INSCRIPTION COURS DE PREPARATION</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">DUDEE'GO</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><a href="{{ path('fos_user_security_login') }}">INSCRIPTION MUTUELLE ETUDIANTE</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">DUDEE'GO</div>
        <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer"><a href="{{ path('dudeego_platform_showComparateur') }}">COMPARATEUR D'UNIVERSITE</a></div>
      </div>
    </div>
  </div>
</div><br><br>

{% endblock %}